body {
  font-family: Pretendard-Regular, Pretendard-Bold,Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  text-align: center;
  margin: 0 auto;  /* 중앙 정렬 & 기본 margin 제거 */
  padding: 0; /* 기본 패딩 제거 */
  width: 100%; /* 전체 너비를 차지하도록 설정 */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  overflow-x: hidden; /* 가로 스크롤 방지 */
}
/* 부모 컨테이너: column-count로 2열을 만든다. */
.gallery-wrap {
  column-count: 2;    /* 2열 */
  column-gap: 5px;   /* 열 사이 간격 */
  max-width: 800px;   /* 원하는 최대 너비 */
  margin: 0 auto;
}

/* 이미지들을 세로로 쌓아 올리려면 break-inside 방지 */
.gallery-item {
  break-inside: avoid;  /* 컬럼 분할 중 이미지가 잘리는 것 방지 */
  margin-bottom: 5px;  /* 이미지 사이 간격 */
}

/* 반응형 예: 화면이 좁아지면 1열로 변경하고 싶을 때 */
@media (max-width: 150px) {
  .gallery-wrap {
    column-count: 1;  /* 1열로 전환 */
  }
}

/* 실제 이미지 스타일 */
.gallery-img {
  width: 100%;
  height: auto;
  display: block;  /* column 레이아웃에서 inline 이슈 방지 */
  object-fit: cover;
  cursor: pointer;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'HSSanTokki20-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405@1.0/HSSanTokki20-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard-Bold';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
